@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
  margin :0;
  padding: 0;
  font-family: "Poppins",sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #6E35F4;
}

.quote-box {
  width: 500px;
  background-color: #6E35F4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 0px 20px 20px #4C2CBE;
  text-align: center;
}

.quote-text p{
  margin: 30px 0 20px 0;
  font-size: 18px;
  color: #D0C3EB
}

.quote-author h3{
  color: white;
  font-weight: 700;
  margin: 0px 0 30px 0;
}

.quote-button button{
  color: #6E35F4;
  border: none;
  font-size: 18px;
  padding: 10px 25px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  font-weight: 700;
}